<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Main Menu</title>
    </head>
    <body>
        <button><a href="admin/">Admin</a></button>
        <h1>1. "27.01.2021 - 4:35" - Hello </h1>
        <h1>2. "27.01.2021 - 17:10" - <a href="{% url 'tasklist:index' %}">Task list</a></h1>
        <h1>3. "27.01.2021 - 18:31" - <a href="{% url 'newyear:index' %}">It Is New year?</a></h1>
        <h1>4. "29.01.2021 - 19:17" - <a href="{% url 'flights:index' %}">Flights</a></h1>
        <iframe src="https://gifer.com/embed/4OJc" width=480 height=656.000 frameBorder="0" allowFullScreen></iframe><p></p>
        
    </body>
</html>